/* Remove a margem e o padding padrão que o navegador põe */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #EDF5FC;
}

#cabecalho{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    padding: 16px 0;
    box-shadow: 0 3px 8px #B0D3EF;
}

#logo{
    width: 5.5em;
    height: 2.5em;
    padding: 10px;
}

#userImg{
    width: 6%;
}

#user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

#barraUser{
    display: flex;
    gap: 12px;
}

#sinoImg {
    width: 100%;
    height: auto;
}

#sino {
    width: 2vw;
    height: 2vw;
    transition: background-color 0.5s;
    border-radius: 50%;
    min-width: 45px;
    min-height: 45px;
}

#sino:hover{
    background-color: #43A0D6;
    transition: background-color 0.5s;
}

#criarProjeto, #projetos{
    width: 60%;
    background-color: #FBFBFB;
    border: #D3D5E1 solid 1px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 3px 8px #B0D3EF;
}

#criarProjeto h1, #projetos h1{
    color: #4F4F4F;
}

#containerCriaProjeto, #containerProjetos{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

#criar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: dashed #4F4F4F 2px;
    margin: 12px;
    border-radius: 16px;
    transition: background-color 0.5s;
    overflow: hidden;
    height: 100px;
}

#criar p{
    padding: 20px 0;
    font-weight: 400;
    color: #4F4F4F;
    font-size: 50px;
    transition: font-size 0.3s;
}

#criar:hover{
    background-color: #B0D3EF;
    transition: background-color 0.5s;
    cursor: pointer;
}

#criar:hover p{
    font-size: 60px;
    transition: font-size 0.3s;
}

.degradeFundo {
    position: relative;
    background-image: linear-gradient(to top right, #B0D3EF 10%, #43A0D6 40%, #002C6A 80%);
    padding: 16px;
    height: 15vh;
    margin: 25px 0;
    border-radius: 16px;
}

.infoProjeto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(104, 104, 104, 0.7);
    height: 5vh;
    color: #FFFFFF;
    padding: 3px 10px;
    border-radius: 0 0 16px 16px;
}

#listaProjetos{
    margin: 20px 0;
}

#cabecalhoProjetos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalhoProjetos input{
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}


.maisInfoProjeto{
    display: flex;
    align-items: center;
}

.maisLink{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
    padding: 0 0.4em 0.4em 0.4em;
    border-radius: 6px;
}

.maisLink:hover{
    background-color: #4F4F4F;
}

.barra{
    background-color: #FFFFFF;
    width: 60%;
    height: 40%;
    margin-left: 10em;
    border-radius: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(20, 20, 20, 0.7);
}

.progressoBarra{
    margin: 0 5px;
    background-color: #43A0D6;
    box-shadow: 0 0 10px rgba(67, 160, 214, 0.8);
    width: 100%;
    height: 60%;
    border-radius: 16px;
    float: right;
}

#meuModal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

#meuModal.show{
    visibility: visible;
    opacity: 1;
}

#criandoProjeto{
    background-color: #FFFFFF;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #D3D5E1;
    width: 30%;
    border-radius: 16px;
    transform: translateY(-30px);
    transition: transform 0.2s;
}

#criandoProjeto h1{
    margin-left: 15px;
}

#meuModal.show #criandoProjeto{
    transform: translateY(0px);
}

#fecharModal{
    color: #868686;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 6px;
    transition: 0.3s;
}

#fecharModal:hover{
    background-color: #D3D5E1;
    transition: 0.3s;
}

#formCriaProjeto {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#criandoProjeto h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.campoForm {
    width: 100%;
    position: relative;
}

.campoForm input {
    width: 95%;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.campoForm input:focus, #cabecalhoProjetos input:focus {
    border-color: #43A0D6;
    outline: none;
}

.campoForm label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
}

#btn {
    display: flex;
    justify-content: center;
}

#btnCriar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: #43A0D6;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#btnCriar:hover {
    background-color: #002C6A;
}