@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.logo{
    position: absolute;
    top: 20px; 
    right: 20px;
    width: 100px; 
    height: auto; 
    z-index: 1000; 
}
body{
display: flex;
      justify-content: center; 
      align-items: center;     
      background-color: #ECF5FB; 
}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #002C6A;
    padding: 40px 0px 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
    
}

body.logotray{
    height: 100%;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
    margin-bottom: 30px;
}



.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    
}

ul{
    height: 100%;
    list-style-type: none;
}


ul li.item-menu{
    transition: .5s;
}

ul li.ativos{
    background-color: #43A0D6;
    border-radius: 17px 0 0 17px;
    transition: .1ms;
}

ul li.item-menu:hover{
    background: #43A0D6;
    border-radius: 17px 0 0 17px;
    transition: .1ms;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4% 20px 10px;
    display: flex;
    /* margin-bottom: 20px; */
    line-height: 50px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 1;
    
}


nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 10px;
}

.Home1{
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main-conteudo {
    margin-left: 250px;
    padding: 20px;
}

.aba-conteudo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pesquisa {
    padding: 8px;
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
}